{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./server/src"
        }
      }
    ]
  ]
}
