{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./server/src"
        }
      }
    ],
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {},
    "production": {}
  }
}
